<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <meta property="og:title" content="Sopnopriyo - Full Stack Developer" />
    <meta property="og:description" content="Currently Making Automated User Journey Testing a Reality for Website at Uilicious" />
    <meta property="og:url" content="https://sopnopriyo.com" />
	<meta property="og:image" content="http://sopnopriyo.com/img/shahin.png" />
	<meta property="og:image:secure_url" content="http://sopnopriyo.com/img/shahin.png"/> 
	<link rel="sitemap" type="application/xml" href="https://sopnopriyo.com/sitemap.xml">
	<meta name="google-site-verification" content="ze9majkZni0ozLI8CSwdbSGsb58hr_XVnrdLIXpZOUo" />
	<title>Sopnopriyo - Full Stack Developer</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but sopnopriyo doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
</body>

</html>
